params {
    input_worklist = null
    input_reads = null
    outdir = "output"
    db_kraken2 = null
    chopper_fasta = null
    desired_kraken2_taxid = "2104"
    min_reads_per_sample = 300

    longreads_min_quality = 10
    longreads_min_length = 100

    reference_fasta = null
    user_model = null
    platform = "ont"
    amplicones_bed = null

    snpeff_db_name = "Mycoplasma_pneumoniae_m129"
    snpeff_cache = null

    path_rename_chr_pre = null
    path_rename_chr_post = null

    region_min_cov = 30
    regions_of_interest = null

    publish_dir_mode = 'copy'
}


// clean working dir if complete successfully
cleanup = false

profiles {
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled       = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}

manifest {
    contributors {
        name = ["ikchudinov"]
        affiliation = ["RISBM; MIPT"]
        email = ["ikchudinov@gmail.com"]
        github = ["unholyparrot"]
        contribution = ["author"]
        orcid = ["0000-0002-7527-9849"]
    }
    name = "bacterial amplicon TGS seq"
    description = "development of own pipeline for amplicon variant calling"
    version = "0.1.0"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

includeConfig 'conf/modules.config'
