process {
    withName: "FASTQC" {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }

    withName: NANOPLOT {
        ext.args   = {
            [
                "-p ${meta.id}",
                "--title ${meta.id}",
                "-c darkblue",
                "--no_static"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/quality_control/nanoplot" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,txt}"
        ]
        ext.prefix = { "${meta.id}" }
        tag = { "${meta.id}" }
    }

    withName: MINIMAP2_ALIGN_RAW {
        ext.args = "-x lr:hq"
        publishDir = [
            [
                path: { "${params.outdir}/quality_control/mappings" },
                mode: params.publish_dir_mode,
                pattern: "*.bam*",
            ]
        ]
        ext.prefix = { "${meta.id}_genome" }
    }

    withName: CHOPPER {
        ext.args2  = [
            params.longreads_min_quality ? "--quality ${params.longreads_min_quality}" : '',
            params.longreads_min_length ? "--minlength ${params.longreads_min_length}" : '',
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/quality_control/Chopper" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
            ]
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_chopper" }
    }

    withName: KRAKENTOOLS_EXTRACTKRAKENREADS {
        ext.args  = "--fastq-output"
    }

    withName: MINIMAP2_ALIGN_CLEAN {
        ext.args = "-x lr:hq"
        publishDir = [
            [
                path: { "${params.outdir}/mappings/" },
                mode: params.publish_dir_mode,
                pattern: "*.bam*",
            ]
        ]
        ext.prefix = { "${meta.id}_genome" }
    }

    withName: BEDTOOLS_GENOMECOV {
        ext.args = "-bga"
    }

    withName: CLAIR3 {
        ext.args   = {
            [
                "--no_phasing_for_fa",
                "--include_all_ctgs",
                "--haploid_precise", 
                "--sample_name=${meta.id}",
                "--enable_variant_calling_at_sequence_head_and_tail",
                "--bed_fn=${params.amplicones_bed}"
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/variant_calling" },
                mode: params.publish_dir_mode,
                pattern: "*.vcf.gz*",
            ]
        ]
        ext.prefix = { "${meta.id}" }
    }

    withName: SNPEFF_DOWNLOAD {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/cache/" }
        ]
    }

    withName: BCFTOOLS_VIEW {
        ext.args = "--output-type z"
    }

    withName: BCFTOOLS_VIEW_COVERED {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus" },
            pattern: "*.vcf.gz"
        ]
    }

    withName: BCFTOOLS_INDEX {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus" },
            pattern: "*.csi"
        ]
    }

    withName: SEQKIT_SUBSEQ {
        ext.prefix = { "${meta.id}_unnamed" }
    }

    withName: SEQKIT_REPLACE {
        ext.args = {
            [
                '-p "^.+\s"',
                "-r '${meta.id}_'"
            ].join(' ').trim()
        }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/consensus" },
            pattern: "*.fasta"
        ]
    }

    withName: MINIMAP2_ALIGN_CONSENSUS {
        ext.args = "-x lr:hq"
        publishDir = [
            [
                path: { "${params.outdir}/consensus"},
                mode: params.publish_dir_mode,
                pattern: "*.bam*",
            ]
        ]
        ext.prefix = { "${meta.id}_consensus" }
    }

    withName: BEDTOOLS_GENOMECOV_CONSENSUS {
        ext.args = "-bga"
        publishDir = [
            [
                path: { "${params.outdir}/consensus"},
                mode: params.publish_dir_mode,
                pattern: "*.bed",
            ]
        ]
    }

    withName: "MULTIQC" {
        publishDir = [
            path: { "${params.outdir}/quality_control/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
